*:not(input):not(textarea) {
  user-select:none !important;
  outline-style:none !important;
}
.cursor-pointer {
  cursor: pointer;
}
.fs-xs {
  font-size: 0.6rem;
}
.fs-sm {
  font-size: 0.8rem;;
}
.shadow-sm-bottom-end {
  box-shadow: 0.3rem 0.3rem 0.3rem 0 rgba(0,0,0,0.3);
}
.btn-click-effect:not(.disabled):active {
  animation:btnClickEffect 40ms;
}
@keyframes btnClickEffect {
    0% 	{transform:none;}
  50% 	{transform:scale(0.9);}
  100% 	{transform:none;}
}
.scale-in {
  animation: scaleIn .6s ease both;
}
@keyframes scaleIn {
    0% 	{opacity:0;transform: scale(0); }
  25% 	{opacity:0;transform: scale(0); }
  100% 	{opacity:1;transform: scale(1); }
}